* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 2rem auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem !important;
}

h1 {
  margin: 0 1rem 0 0;
  font: bold 2rem/1 "Andika New Basic", sans-serif;
}

h1 a {
  text-decoration: none;
}

header p {
  font: normal 1.25rem/1 "Andika New Basic", sans-serif;
  margin: 0;
}

a {
  color: inherit;
}
p a {
  color: royalblue;
}

.post_title,
.post_title a {
  text-decoration: none;
  font: bold 1.75rem/1 "Andika New Basic", sans-serif;
}

p code,
li code {
  font-size: calc(1em - 3px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

pre {
  padding: 1.25rem 1.75rem;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
  overflow-x: auto;
}

code,
.date {
  font-family: "Inconsolata", "Monaco", monospace;
}

.post {
  margin: 2rem 0;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

p,
li {
  font: normal 1.15rem/1.5 "Andika New Basic", sans-serif;
  margin: 1rem 0;
}

li {
  margin: 0.5rem 0 0.5rem 2.5rem;
}

.date {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: #777;
}

.summary {
  margin: 0.25rem 0;
}

.about {
  font-size: 0.9rem;
  color: #555;
}

footer {
  padding: 1rem 0;
  border-top: 1px solid #aaa;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background: #2f3337;
  }
  p {
    color: #ddd;
  }
  .date,
  .about {
    color: #aaa;
  }
  p code,
  li code {
    color: #333;
    background-color: #ccc;
    padding: 0.1em 0.2em;
  }
  p a,
  li a {
    color: goldenrod;
  }
  h1,
  h2,
  h3 {
    color: #eee;
  }
}
